body{
    background-color: aliceblue;
}

.formForJoke{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
   
}

.joke-container{
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.image-container div{
     color: black;
    position: absolute;
    top: 70%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    text-align: center;
}

.image-container img{
width: 100%;
height: auto;
opacity: 0.5;
}
.setup-content{
 color: black;
   
    text-align: center;
}
.delivery-content{
    position: fixed;
    border-radius: 2px;
    bottom: 0; /* Position at the bottom of the image container */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(222, 235, 253);
    color: rgb(24, 14, 14);
    padding: 10px 20px;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out;
}
.joke-container:hover .delivery-content {
    opacity: 1; /* Fully visible on hover */
}